Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-fuchsia-*,-google-*,-android-*,-llvmlibc-*,-llvm-*,-readability-else-after-return,-hicpp-braces-around-statements,-readability-braces-around-statements,-readability-implicit-bool-conversion,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-named-parameter,-hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-vararg,-hicpp-explicit-conversions,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-bounds-constant-array-index,-cert-err58-cpp,-cppcoreguidelines-owning-memory,-hicpp-special-member-functions,-modernize-avoid-c-arrays,-cppcoreguidelines-avoid-c-arrays,-misc-definitions-in-headers,-modernize-use-trailing-return-type,-hicpp-named-parameter,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers'
